/* src/App.css */

body { 
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    width: 100vw;
    overflow: hidden;
    flex-wrap: wrap;
}
html, body, #map { height: 100%; }

#map-filters {
    background-color: #FFFFFF !important;
    color: #000;
    box-sizing: border-box;
    position: absolute;
    width: fit-content;
    top: 0;
    left: 0;
    margin: 20px;
    padding: 18px;
    z-index: 100;
    border-radius: 4px;
    box-shadow: 0 0 10px 2px rgba(0,0,0,.1);
}

#map-filters fieldset {
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

.filter-group {
    display: flex;
    flex-direction: column;
}

#map-filters label {
    margin-bottom: 0.5rem;
    font-size: small;
}

#map-filters select {
    width: fit-content;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
}
